
a {
	text-decoration:none;
	color:#E0E25C;
	cursor:pointer;
}

.icontext {
	cursor: default;
	margin:5px;
	font-family:verdana;
	font-size:11px;
	color: #E0E25C;
	background-color: #787922;
}

.footerhidebutton {
	font-family:verdana;
	font-size:10px;
	color:#E0E25C;
	width:10px;
	background-color: #333333;
	border: 1px solid #E0E25C;
	text-align:center;
	margin-left: 5px; /* controls how far is the clock from the hide button */
}

.clock {
	cursor: default;
	font-family:verdana;
	font-size:11px;
	color: #E0E25C;
	background-color: transparent; 
	border: 0px solid red;
	text-align:center;
}

.titlebar {
	font-family:verdana;
	font-size:13px;
	font-weight:bold;
	color: #999999;
	background-color: #787922;
	margin-left: 2px;
	margin-right: 2px;
	text-align:left;
	border-bottom: 1px solid #999999;
}

.menu {
	font-family:verdana;
	font-size:12px;
	font-weight:bold;
	color: #787922;
	background-color: #999999;
	margin-left: 2px;
	margin-right: 2px;
	text-align:left;
}

.menu a:hover{  
	color: #EE9F1B;
	background-color: #787922;
	border: 1px outset #787922;
}

.menu a:active{  
	color: #EE9F1B;
	background-color: #787922;
	border: 1px outset #787922;
}

.toolbar {
	color: black;
	background-color: #999999;
	margin-left: 2px;
	margin-right: 2px;
	text-align:left;
	border-bottom: 1px solid #787922;
	border-top: 1px solid #4C4C4C;
}

.toolbarover {
	background-color: #E0E25C;
	margin-left: 2px;
	margin-right: 2px;
	text-align:left;
	cursor:hand;
	border-bottom: 1px solid #787922;
	border-top: 1px solid #4C4C4C;
}

.toolbarout {
	background-color: #999999;
	margin-left: 2px;
	margin-right: 2px;
	text-align:left;
	border-bottom: 1px solid #787922;
	border-top: 1px solid #4C4C4C;
}

.listtitle {
	font-family:verdana;
	font-size:12px;
	color: #787922;
	background-color: #999999;
	text-align:left;
	border-bottom: 1px solid #787922;
	margin:0px;
	white-space: nowrap;
}

.listtitle a{ color: #787922; 
}

.list {
	font-family:verdana;
	font-size:10px;
	color: #666666;
	text-align:left;
	border-bottom: 1px solid #787922;
}

.list a{ color: #787922; 
}

.trhighlight {
	background-color: #E0E25C;
}

.trnormal {
	background-color: #D6D7B2;
}

.trodd {
	background-color: #D6D7B2;
}

.treven {
	background-color: #E7E7CF;
}

.field {
	font-family:verdana;
	font-size:11px;
	color:#333333;
	background: #E7E7CF;
	text-align: left;
}

.fieldwait {
	font-family:verdana;
	font-size:11px;
	color:#333333;
	background: #E7E7CF;
	text-align: center;
	border-bottom: 1px solid white;
}

.itemin {
	font-family:verdana;
	font-size:11px;
	font-weight:bold;
	color:#3B517E;
	background: #E7E7CF;
	height: 25px;
	text-align: right;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #E7E7CF;
	filter:alpha(opacity=90);
	-moz-opacity: .90;
}

.separatorin {
	font-family:verdana;
	font-size:13px;
	color:#999999;
	background: #787922;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
}

.button {
	font-family:verdana;
	font-size:13px;
	color:#333333;
	background: #E7E7CF;
	border: 1px solid #333333;
	width: 120px;
}

.buttonin {
	font-family:verdana;
	font-size:11px;
	color:#333333;
	background: #E7E7CF;
	border: 1px solid #333333;
	width: 120px;
}

.topline {
	background-color: #E0E25C;
}

.toolbarline2 {
	color: black;
	background-color: #999999;
	margin-left: 2px;
	margin-right: 2px;
	text-align:left;
	border-bottom: 1px solid #787922;
	border-top: 1px solid #4C4C4C;
}

.naveach {
	background-color: #666666;
	text-align:left;
	font-size:12px;
	color: #FFFFFF;
	border-left: 1px solid #E0E25C;
	border-top: 1px solid #E0E25C;
	border-bottom: 1px solid #E0E25C;
}

.navarea {
	font-family:verdana;
	background: #666666;
	border-right: 1px solid #E0E25C;
	border-top: 1px solid #E0E25C;
	border-bottom: 1px solid #E0E25C;
}

.navborder {
	border-right: 1px solid #E0E25C;
	background: #000000;
	text-align:left;
	font-size:12px;
}

.footertaskinactive {
	font-family:verdana;
	font-size:11px;
	color:#EE9F1B;
	background-color: #787922; 
	border: 1px solid #787922;
    margin: 0px 1px 0px 0px;
	cursor: pointer;
	float: left;
	width: 80px;
}

.footertaskactive {
	font-family:verdana;
	font-size:11px;
	font-weight:bold;
	color:#333333;
	background-color: #E0E25C; 
	border: 1px solid #838383;
    margin: 0px 1px 0px 0px;
    cursor: default;
	float: left;
	width: 80px;
}

.lassoOnCreate {
	position: absolute;
	font-size: 0%;
	border: 1px solid #E0E25C;
	background-color: #787922;
	filter:alpha(opacity=70);
	-moz-opacity: .70;
	z-Index: 2;
}

.shortcutTextarea {
  cursor: default;
  margin:0px;
  font-family:verdana;
  font-size:11px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #787922;
  background: #787922;
  color: #E0E25C;
}
